.home-page {
    background-color: #1B2539;
    min-height: 100vh;
    color: #9FB0CF;
  }

@media (min-width: 600px) {
.home-page-content {
      margin-left: 125px;
      padding-top: 325px;
    }
  }