.presentation {
  padding-left: 125px;
  padding-top: 325px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  color: #9FB0CF;
}

.text-small {
  font-size: 40px;
}

.text-large {
  font-size: 60px;
}

.space {
  margin-top: 79px;
}